<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
  <title>Todoey</title>
</head>
<header>
  <aside class="sidebar">
    <div class="user-profile">
      <img src="https://robohash.org/user-name.png" alt="User Image" class="user-image">
      <h2 class="user-name">John Doe</h2>
    </div>
    <ul class="menu">
      <li><a href="/"><i class="far fa-calendar-alt"></i> My Day</a></li>
      <li><a href="#"><i class="far fa-calendar-alt"></i> Next 7 Days</a></li>
      <li><a href="#"><i class="fas fa-clipboard-list"></i></i> All My Tasks</a></li>
      <li>
        <a href="#"><i class="far fa-list"></i>My Lists</a>
        <ul class="sub-menu">
          <li><a href="#">Grocery List</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Shopping</a></li>
          <li><a href="#">Personal</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</header>

<body>
  <main>
