<%- include ("partials/header.ejs") %>

<div class="box" id="heading">
  <h1>Calendar</h1>
</div>

<div class="box" id="calendarContainer">
  <!-- Add your calendar content here -->
</div>

<%- include("partials/footer.ejs") %>